.rtbg {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 280px;
  position: relative;
  width: 780px;
}

.rtbg-background,
.rtbg-history {
  left: 0;
  position: absolute;
  top: 0;
}